body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 20px;
}

.hero img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Courses */
#courses {
    padding: 20px;
}

.courses-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course {
    background: white;
    width: 300px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.course img {
    width: 100%;
    border-radius: 10px;
}

/* Contact */
#contact {
    padding: 20px;
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
}

/* Button */
button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}